<section class="mx-auto mt-10 w-full flex-grow mb-10 max-w-[1200px] px-5">
  <div class="container mx-auto border px-5 py-5 shadow-sm md:w-1/2">
    <div class="">
      <p class="text-4xl font-bold">CREATE AN ACCOUNT</p>
      <p>Register for new customer</p>
    </div>

    <form
      [formGroup]="signupForm"
      (ngSubmit)="onSubmit()"
      class="mt-6 flex flex-col"
    >
      <label for="name">Full Name</label>
      <input
        id="name"
        formControlName="fullName"
        class="mb-3 mt-3 border px-4 py-2"
        type="text"
        placeholder="Bogdan Bulakh"
        required
      />

      <label class="mt-3" for="email">Email Address</label>
      <input
        id="email"
        formControlName="email"
        class="mt-3 border px-4 py-2"
        type="email"
        placeholder="user@mail.com"
        required
      />

      <label class="mt-3" for="email">Username</label>
      <input
        id="username"
        formControlName="username"
        class="mt-3 border px-4 py-2"
        type="text"
        placeholder="Username"
        required
      />

      <label class="mt-3" for="phone">Phone Number</label>
      <input
        id="phone"
        formControlName="phone"
        class="mt-3 border px-4 py-2"
        type="tel"
        placeholder="Phone Number"
        required
      />

      <label class="mt-5" for="password">Password</label>
      <input
        id="password"
        class="mt-3 border px-4 py-2"
        type="text"
        formControlName="password"
        required
        placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
      />

      <label class="mt-5" for="password">Confirm password</label>
      <input
        id="Confirmpassword"
        class="mt-3 border px-4 py-2"
        type="text"
        formControlName="passwordConfirm"
        required
        placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
      />
      <button type="submit" class="my-5 w-full bg-violet-900 py-2 text-white">
        CREATE ACCOUNT
      </button>
    </form>

    <div class="mt-4 flex justify-between">
      <form class="flex gap-2">
        <input type="checkbox" />
        <label for="checkbox">
          I have read and agree with
          <a href="#" class="text-violet-900">terms &amp; conditions</a>
        </label>
        <br />
      </form>
    </div>

    <p class="text-center text-gray-500">OR SIGN UP WITH</p>

    <div class="my-5 flex gap-2">
      <button class="w-1/2 bg-blue-800 py-2 text-white">FACEBOOK</button>
      <button class="w-1/2 bg-orange-500 py-2 text-white">GOOGLE</button>
    </div>

    <p class="text-center">
      Already have an account?
      <button routerLink="/login" class="text-violet-900">Login now</button>
    </p>
  </div>
</section>
