<!-- orders-overview.component.html -->
<div>
  <h2 class="text-xl font-bold mb-4">Orders Overview</h2>
  <table class="min-w-full bg-amber-400 rounded-lg overflow-hidden">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2">Order ID</th>
        <th class="px-4 py-2">Product</th>
        <th class="px-4 py-2">Quantity</th>
        <th class="px-4 py-2">Status</th>
        <th class="px-4 py-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="px-4 py-2 text-center">ordeId</td>
        <td class="px-4 py-2 text-center">orderProduct</td>
        <td class="px-4 py-2 text-center">orderQuantity</td>
        <td class="px-4 py-2 text-center">orderStatus</td>
        <td class="px-4 py-2 text-center">
          <!-- (click)="editOrder(order)" -->
          <button class="px-2 py-1 mx-3 bg-violet-900 text-white rounded">
            Edit
          </button>
          <!-- (click)="deleteOrder(order.id)" -->
          <button class="px-2 py-1 mx-3 bg-red-500 text-white rounded">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
