<!-- form -->
<div class="py-5">
  <!-- <div class="w-full">
    <div
      class=" mb-5 flex flex-row items-center  py-5 lg:mx-0 lg:w-1/2"
    >
      <div class=" ml-5 h-20 w-20 p-1 bg-neutral-100">
        <img
          class="w-full rounded-full"
          src="{{ userInfo.image }}"
          alt="{{ userInfo.fullName }}"
        />
      </div>
    </div>
  </div> -->
  <form class="flex w-full flex-col gap-3" action="">
    <div class="flex w-full flex-col">
      <label class="flex" for="name">
        Full Name
        <span
          class="block text-sm font-medium text-slate-700 after:ml-0.5 after:text-red-500 after:content-['\*']"
        ></span>
      </label>
      <input
        class="w-full border px-4 py-2 lg:w-1/2"
        type="text"
        value="{{ userInfo.fullName }}"
        readonly
      />
    </div>
    <div class="flex w-full flex-col">
      <label class="flex" for="name">
        Email
        <span
          class="block text-sm font-medium text-slate-700 after:ml-0.5 after:text-red-500 after:content-['\*']"
        ></span>
      </label>
      <input
        class="w-full border px-4 py-2 lg:w-1/2"
        type="text"
        value="{{ userInfo.email }}"
        readonly
      />
    </div>
    <div class="flex w-full flex-col">
      <label class="flex" for="name">
        Username
        <span
          class="block text-sm font-medium text-slate-700 after:ml-0.5 after:text-red-500 after:content-['\*']"
        ></span>
      </label>
      <input
        class="w-full border px-4 py-2 lg:w-1/2"
        type="text"
        value="{{ userInfo.username }}"
        readonly
      />
    </div>
    <div class="flex w-full flex-col">
      <label class="flex" for="name">
        Phone
        <span
          class="block text-sm font-medium text-slate-700 after:ml-0.5 after:text-red-500 after:content-['\*']"
        ></span>
      </label>
      <input
        class="w-full border px-4 py-2 lg:w-1/2"
        type="text"
        value="{{ userInfo.phone }}"
        readonly
      />
    </div>
  </form>
</div>
<!-- /form -->
