<section class="grid w-full max-w-[1200px] grid-cols-1 gap-3 px-5 pb-10">
  <div class="py-5">
    <div class="w-full"></div>
    <form
      [formGroup]="passwordForm"
      (ngSubmit)="onSubmit()"
      class="flex w-full flex-col gap-3"
    >
      <div *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</div>

      <div class="flex w-full flex-col">
        <label for="currentPassword">Current Password</label>
        <input
          formControlName="currentPassword"
          type="password"
          class="w-full border px-4 py-2 lg:w-1/2"
        />
      </div>

      <div class="flex w-full flex-col">
        <label for="newPassword">New Password</label>
        <input
          formControlName="newPassword"
          type="password"
          class="w-full border px-4 py-2 lg:w-1/2"
        />
      </div>

      <div class="flex w-full flex-col">
        <label for="confirmNewPassword">Confirm New Password</label>
        <input
          formControlName="confirmNewPassword"
          type="password"
          class="w-full border px-4 py-2 lg:w-1/2"
        />
        <div
          *ngIf="
            passwordForm.get('confirmNewPassword')?.errors?.['mismatch'] &&
            passwordForm.get('confirmNewPassword')?.touched
          "
          class="text-red-500"
        >
          New passwords do not match
        </div>
      </div>

      <button
        type="submit"
        class="mt-4 w-40 bg-violet-900 px-4 py-2 text-white"
      >
        Save Changes
      </button>
    </form>
  </div>
</section>
