<!-- form  -->
<section class="grid w-full max-w-[1200px] grid-cols-1 gap-3 px-5 pb-10">
  <div class="py-5">
    <div class="w-full">
      <h2>Avatar image</h2>
      <div
        class="mx-auto mb-5 flex flex-row items-center bg-neutral-100 py-5 lg:mx-0 lg:w-1/2"
      >
        <img
          class="ml-5 h-20 w-20 rounded-full"
          [src]="userForm.get('image')?.value"
          [alt]="userForm.get('fullName')?.value"
        />

        <form>
          <div>
            <label class="block">
              <span class="sr-only">Choose profile photo</span>
              <input
                type="file"
                class="mx-auto ml-5 flex w-full justify-center border-yellow-400 text-sm outline-none file:mr-4 file:bg-amber-400 file:py-2 file:px-4 file:text-sm file:font-semibold"
                (change)="onFileChange($event)"
              />
            </label>
          </div>
        </form>
      </div>
    </div>

    <form
      [formGroup]="userForm"
      (ngSubmit)="onSubmit()"
      class="flex w-full flex-col gap-3"
    >
      <div class="flex w-full flex-col">
        <label class="flex" for="fullName"
          >Full Name<span
            class="block text-sm font-medium text-slate-700 after:ml-0.5 after:text-red-500 after:content-['*']"
          ></span
        ></label>
        <input
          formControlName="fullName"
          class="w-full border px-4 py-2 lg:w-1/2"
          type="text"
          placeholder="Sarah"
        />
      </div>

      <div class="flex w-full flex-col">
        <label class="flex" for="email"
          >Email<span
            class="block text-sm font-medium text-slate-700 after:ml-0.5 after:text-red-500 after:content-['*']"
          ></span
        ></label>
        <input
          formControlName="email"
          class="w-full border px-4 py-2 lg:w-1/2"
          type="email"
          placeholder="John@example.com"
        />
      </div>
      <div class="flex w-full flex-col">
        <label class="flex" for="username">
          Username
          <span
            class="block text-sm font-medium text-slate-700 after:ml-0.5 after:text-red-500 after:content-['*']"
          ></span>
        </label>
        <input
          formControlName="username"
          class="w-full border px-4 py-2 lg:w-1/2"
          type="text"
        />
      </div>
      <div class="flex w-full flex-col">
        <label class="flex" for="phone">
          Phone
          <span
            class="block text-sm font-medium text-slate-700 after:ml-0.5 after:text-red-500 after:content-['*']"
          ></span>
        </label>
        <input
          formControlName="phone"
          class="w-full border px-4 py-2 lg:w-1/2"
          type="text"
        />
      </div>
      <button
        type="submit"
        class="mt-4 w-40 bg-violet-900 px-4 py-2 text-white"
      >
        Save changes
      </button>
    </form>
  </div>
</section>
<!-- /form  -->
