<section
  class="gap-3 grid-cols-1 h-[600px] hidden lg:grid max-w-[1200px] pb-10 px-5 w-full"
>
  <table class="table-fixed">
    <thead class="h-16 bg-neutral-100">
      <tr>
        <th>ORDER</th>
        <th>DATE</th>
        <th>TOTAL</th>
        <th>STATUS</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b h-[100px]">
        <td class="text-center align-middle">№ 1245</td>
        <td class="mx-auto text-center">22/06/2023</td>
        <td class="text-center align-middle">$620</td>
        <td class="mx-auto text-center">
          <span class="px-3 py-1 text-green-500 border-2 border-green-500"
            >Delivered</span
          >
        </td>
        <td class="text-center align-middle">
          <a href="/order-overview.html" class="px-4 py-2 bg-amber-400"
            ><button class="text-center">View</button></a
          >
        </td>
      </tr>
      <tr class="border-b h-[100px]">
        <td class="text-center align-middle">№ 1232</td>
        <td class="mx-auto text-center">20/05/2023</td>
        <td class="text-center align-middle">$3200</td>
        <td class="mx-auto text-center">
          <span class="px-3 py-1 text-orange-500 border-2 border-orange-500"
            >In Progress</span
          >
        </td>
        <td class="text-center align-middle">
          <a href="/order-overview.html" class="px-4 py-2 bg-amber-400"
            ><button class="text-center">View</button></a
          >
        </td>
      </tr>
      <tr class="border-b h-[100px]">
        <td class="text-center align-middle">№ 3246</td>
        <td class="mx-auto text-center">03/03/2022</td>
        <td class="text-center align-middle">$2500</td>
        <td class="mx-auto text-center">
          <span class="px-3 py-1 text-red-500 border-2 border-red-500"
            >Declined</span
          >
        </td>
        <td class="text-center align-middle">
          <a href="/order-overview.html" class="px-4 py-2 bg-amber-400"
            ><button class="text-center">View</button></a
          >
        </td>
      </tr>
      <tr class="border-b h-[100px]">
        <td class="text-center align-middle">№ 9827</td>
        <td class="mx-auto text-center">31/01/2020</td>
        <td class="text-center align-middle">$1700</td>
        <td class="mx-auto text-center">
          <span class="px-3 py-1 text-blue-500 border-2 border-blue-500"
            >Need Payment</span
          >
        </td>
        <td class="text-center align-middle">
          <a href="/order-overview.html" class="px-4 py-2 bg-amber-400"
            ><button class="text-center">View</button></a
          >
        </td>
      </tr>
    </tbody>
  </table>
</section>
