<!-- accounts-overview.component.html -->
<div>
  <h2 class="text-xl font-bold mb-4">Accounts Overview</h2>
  <table class="min-w-full bg-amber-400 rounded-lg overflow-hidden">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2">Username</th>
        <th class="px-4 py-2">Email</th>
        <th class="px-4 py-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="px-4 py-2 text-center">uName</td>
        <td class="px-4 py-2 text-center">uEmail</td>
        <td class="px-4 py-2 text-center">
          <!-- (click)="editUser(user)" -->
          <button class="px-2 py-1 mx-3 bg-violet-900 text-white rounded">
            Edit
          </button>
          <!-- (click)="deleteUser(user.id)" -->
          <button class="px-2 py-1 mx-3 bg-red-500 text-white rounded">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
