<div class="flex h-screen">
  <!-- Sidebar -->
  <div
    class="bg-violet-900 text-white w-64 flex-none p-4 fixed top-0 left-0 h-full"
  >
    <h2 class="text-xl font-bold mb-4 text-center">Admin Dashboard</h2>
    <ul class="space-y-2">
      <li class="bg-amber-400 p-3 text-black text-xl font-bold rounded-lg">
        <a routerLink="/admin-dashboard/overview">Overview</a>
      </li>
      <li class="bg-amber-400 p-3 text-black text-xl font-bold rounded-lg">
        <a routerLink="/admin-dashboard/accounts-overview">Accounts Overview</a>
      </li>
      <li class="bg-amber-400 p-3 text-black text-xl font-bold rounded-lg">
        <a routerLink="/admin-dashboard/orders-overview">Orders Overview</a>
      </li>
      <li class="bg-amber-400 p-3 text-black text-xl font-bold rounded-lg">
        <a routerLink="/admin-dashboard/products-overview">Products Overview</a>
      </li>
      <li class="bg-red-500 p-3 text-white text-xl text-center font-bold rounded-lg">
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="flex-grow p-4 ml-64 overflow-auto">
    <router-outlet></router-outlet>
    <div class="mt-4"></div>
    <div class="mt-4"></div>
  </div>
</div>
