<section class="mx-auto flex-grow w-full mt-10 mb-10 max-w-[1200px] px-5">
  <div class="container mx-auto border px-5 py-5 shadow-sm md:w-1/2">
    <div>
      <p class="text-4xl font-bold text-center">FORGOT PASSWORD</p>
      <p class="text-l text-center">
        Forgot your password? No worries. We can help you reset it.
      </p>
    </div>

    <form
      [formGroup]="forgetpasswordForm"
      (ngSubmit)="onSubmit()"
      class="mt-6 flex flex-col"
    >
      <label for="email">Email</label>
      <input
        formControlName="email"
        id="email"
        class="mb-3 mt-3 border px-4 py-2"
        type="email"
        placeholder="Your registered email"
        required
      />
      <button type="submit" class="my-5 w-full bg-violet-900 py-2 text-white">
        Reset Password
      </button>
    </form>

    <p class="text-center text-gray-500">OR</p>

    <p class="text-center">
      Remember your password?
      <a routerLink="/login" class="text-violet-900">Login now</a>
    </p>
  </div>
</section>
